@page "/monitor/edit/{MonitorId:int}"
@inject IMonitorRepository monitorRepository
@inject NavigationManager navigationManager

<h3>Monitor edit</h3>

@if (Monitor != null)
{
    <MonitorForm OnValidSubmit="Edit"
                 General="Monitor.General"
                 Model="Monitor.Model"
                 Monitor="Monitor"
                 PowerConsumer="Monitor.PowerConsumer"
                 FormFactor="Monitor.FormFactor"
                 />
}

@code {
    [Parameter]
    public int MonitorId { get; set; }

    public Monitor Monitor;

    protected async override Task OnInitializedAsync()
    {
        Monitor = await monitorRepository.GetMonitor(MonitorId);
    }

    private async Task Edit()
    {
        Monitor.General.DateOfChange = DateTime.Now;

        await monitorRepository.UpdateMonitor(Monitor);
        navigationManager.NavigateTo("monitor");
    }
}
