
@inject IIPListRepository iplistRepository

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>IP lists</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">

                @*<div class="form-group">
                    <a class="btn btn-info" href="cable/create"><span class="ri oi oi-plus" /> New cable</a>
                </div>*@

                @*<div class="form-row p-1">
                    <div class="form-group m-1">
                        <label>Display </label>
                        <select class="custom-select-sm" @bind="@recordsPerPage" @onclick="LoadPage">
                            <option value="">5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                        </select>
                        <label> cables</label>
                    </div>
                </div>*@


                <GenericList List="IPList">
                    <WholeListTemplate>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>IP address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in IPList)
                                {
                                    <tr>
                                        <td>@item.IpAddress</td>
                                        <td>
                                            @*<a href="/cable/detail/@item.Id"><span class="oi oi-eye" /></a>
                                            <a href="/cable/edit/@item.Id"><span class="oi oi-pencil" /></a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </WholeListTemplate>
                </GenericList>
                @*<div class="row">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="ml-auto">
                                <Pagination CurrentPage="@paginationDTO.Page" TotalAmountPages="totalAmountPages"
                                            SelectedPage="SelectedPage" />
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>


@code {
    List<IPList> IPList;
    [Parameter] public int NetworkId { get; set; }
    //PaginationDTO paginationDTO = new PaginationDTO();
    //private int totalAmountPages;
    //private int recordsPerPage = 5;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadIPlist();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private async Task LoadPage()
    {
        //paginationDTO = new PaginationDTO();
        await LoadIPlist();
    }

    private async Task LoadIPlist()
    {
        //paginationDTO.RecordsPerPage = recordsPerPage;
        //var paginatedResponse = await cableRepository.GetCables(paginationDTO);
        //Cables = paginatedResponse.Response;
        //totalAmountPages = paginatedResponse.TotalAmountPages;
        IPList = await iplistRepository.GetIPlists(NetworkId);
    }

    //private async Task SelectedPage(int page)
    //{
    //    paginationDTO.Page = page;
    //    await LoadCables();
    //}

}
