@using DocumentationTool.Client.Shared.Tabs
@using DocumentationTool.Client.Shared.GeneralSH
@using DocumentationTool.Client.Pages.Network.IpLists 

@page "/threeLayerNetwork/detail/{NetworkId:int}"
@inject INetworkRepository networkRepository
@inject NavigationManager navigationManager

<h3>Network details</h3>

@if (LayerThreeNet != null)
{
<TabControl>
    <TabPage Text="General">
        <GeneralDetails General="LayerThreeNet.General" />
    </TabPage>
    <TabPage Text="Ip list">
        <IpListIndex NetworkId="LayerThreeNet.Id" />
    </TabPage>
</TabControl>
}

@code {
    [Parameter]
    public int NetworkId { get; set; }

    public LayerThreeNet LayerThreeNet;

    protected async override Task OnInitializedAsync()
    {
        LayerThreeNet = await networkRepository.GetLayerThreeNet(NetworkId);
    }
}
