@using DocumentationTool.Client.Shared.PowerConsumerSH
@using DocumentationTool.Client.Shared.GeneralSH
@using DocumentationTool.Client.Shared.ModelSH
@using DocumentationTool.Client.Shared.FormFactorSH
@using DocumentationTool.Client.Shared.MemorySH
@using DocumentationTool.Client.Shared.CPUSH

<h3>Server</h3>
<EditForm Model="Server" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <ModelForm Model="Model" />
    <GeneralForm General="General" />
    <FormFactorForm FormFactor="FormFactor" />
    <PowerConsumerForm PowerConsumer="PowerConsumer" />
    <MemoryForm Memory="Memory" />
    <CPUForm CPU="CPU" />

    <button class="btn btn-primary" type="submit">Save Changes</button>
</EditForm>

@code {
    [Parameter] public ServerDevice Server { get; set; }
    [Parameter] public Model Model { get; set; }
    [Parameter] public General General { get; set; }
    [Parameter] public CPU CPU { get; set; }
    [Parameter] public Memory Memory { get; set; }
    [Parameter] public FormFactor FormFactor { get; set; }
    [Parameter] public PowerConsumer PowerConsumer { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
