@page "/printer/edit/{PrinterId:int}"
@inject IPrinterRepository printerRepository
@inject NavigationManager navigationManager

<h3>Printer edit</h3>

@if (Printer != null)
{
    <PrinterForm OnValidSubmit="Edit"
                 Printer="Printer"
                 Model="Printer.Model" 
                 General="Printer.General" />
}

@code {
    [Parameter]
    public int PrinterId { get; set; }

    public Printer Printer;

    protected async override Task OnInitializedAsync()
    {
        Printer = await printerRepository.GetPrinter(PrinterId);
    }

    private async Task Edit()
    {

        await printerRepository.UpdatePrinter(Printer);
        navigationManager.NavigateTo("printer");
    }
}
