@using DocumentationTool.Client.Shared.Tabs
@using DocumentationTool.Client.Shared.GeneralSH

@page "/cable/detail/{CableId:int}"
@inject ICableRepository cableRepository
@inject ISwitchRepository switchRepository
@inject IServerRepository serverRepository
@inject IRouterRepository routerRepository
@inject NavigationManager navigationManager

    <h3>Cable details</h3>

@if (Cable != null)
{
<TabControl>
    <TabPage Text="General">
        <GeneralDetails General="Cable.General" />
    </TabPage>
    <TabPage Text="Cable">
        <CableDisplayDetails Cable="Cable" />
    </TabPage>
    <TabPage Text="Connections">
        <Connections />
    </TabPage>
</TabControl>

}

@code {
    [Parameter]
    public int CableId { get; set; }

    public Cable Cable;

    protected async override Task OnInitializedAsync()
    {
        Cable = await cableRepository.GetCable(CableId);
    }
}
